<head>
<!--  Chirico: Add Custom Headers    -->
{% if page.jsarr %}
<script src="https://storage.googleapis.com/montco-stats/javascript/vis-4.17.0/dist/vis.js" type="text/javascript"></script>
<link href="https://storage.googleapis.com/montco-stats/javascript/vis-4.17.0/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
<link href="https://storage.googleapis.com/montco-stats/javascript/vis-4.17.0/dist/vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />


{% endif %}
<!--  Chirico: Done custom          -->
</head>